@model PersonalklubbenHVAdmin.ViewModels.CreateMemberViewmodel

@{
    ViewBag.Title = "Create Member";
}

<h2>Uppdatera medlemsskap för @Model.medlem.Förnamn @Model.medlem.Efternamn  <span class="glyphicon glyphicon-plus-sign"></span> </h2>

<h2 style="color: red; ">@Html.ValidationMessage("Felmeddelande")</h2>

<div class="container">
    <hr>
    @*<div class="row">*@
    <!-- left column -->
    @*<div class="col-md-3">
            <div class="text-center">
                <img src="//placehold.it/100" class="avatar img-circle" alt="avatar">
                <h6>Upload a different photo...</h6>

                <input type="file" class="form-control">
            </div>
        </div>*@
    <div class="col-md-9 personal-info">
        <div class="alert alert-info alert-dismissable">
            <a class="panel-close close" data-dismiss="alert">×</a>
            <i class="fa fa-coffee"></i>
            <strong>Viktigt!</strong> Endast HV-Email är giltig. <strong>Kontrollera så att personuppgifterna stämmer från föregående medlemsperiod</strong>
        </div>


        @using (Html.BeginForm())
        {
        <form class="form-horizontal">
            <h3> Personlig information </h3>- Medlem sedan: <strong> @Model.medlem.RegistreringsDatum.ToString("yyyy/MM/dd")</strong> 
            <br /><br />
            @Html.HiddenFor(model => model.medlem.ID)
            @Html.HiddenFor(model => model.medlem.RegistreringsDatum)

            <div class="form-group">
                <label class="col-lg-3 control-label">Förnamn:</label>
                <div class="col-lg-8">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.EditorFor(model => model.medlem.Förnamn, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.medlem.Förnamn)


                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Efternamn:</label>
                <div class="col-lg-8">
                    @Html.EditorFor(model => model.medlem.Efternamn, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.medlem.Efternamn)


                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">HV Email:</label>
                <div class="col-lg-8">
                    @Html.EditorFor(model => model.medlem.Epostadress, new { htmlAttributes = new { @type = "text", @class = "form-control", placeholder = "ex: Karin.Johansson@hv.se" } })
                    @Html.ValidationMessageFor(model => model.medlem.Epostadress)


                </div>
            </div>

            <div class="form-group">
                <label class="col-lg-3 control-label">Telefonnummer:</label>
                <div class="col-lg-8">
                    @Html.EditorFor(model => model.medlem.Telefonnummer, new { htmlAttributes = new { @type = "text", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.medlem.Telefonnummer)

                </div>
            </div>


            <div class="form-group">
                <label class="col-lg-3 control-label">Giltig till:</label>
                <div class="col-lg-8">

                    @if (Model.years.Count > 0)
                    {

                        @Html.DropDownListFor(m => m.years,
                                         Model.years.Select(m => new SelectListItem
                                         {
                                             Value = m.ToString(),
                                             Text = m.Year.ToString()
                                         }),
                                         new { @class = "form-control" })

                    }
                    else
                    {
                        <div class="ui-select">

                            <select id="user_time_zone" class="form-control">
                                <option value="Ingen data"></option>

                            </select>
                        </div>
                    }



                </div>
            </div>
            <div class="form-group">
                <label class="col-lg-3 control-label">Institution:</label>
                <div class="col-lg-8">

                    @if (Model.Institutions.Count > 0)
                    {

                        @Html.DropDownListFor(m => m.Institutions,
                                            Model.Institutions.Select(m => new SelectListItem
                                            {
                                                Value = m.ToString(),
                                                Text = m.ToString()
                                            }),
                                            new { @class = "form-control" })
                    }
                    else
                    {
                        <div class="ui-select">

                            <select id="user_time_zone" class="form-control">
                                <option value="Ingen data"></option>

                            </select>
                        </div>
                    }

                </div>
            </div>
            <br />
            <br />
            <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                    <input type="submit" class="btn btn-primary" value="Förnya medlemsskap" onclick="return confirm('Är du säker på att du vill uppdatera denna medlem?');">

                    <span></span>
                    <input type="reset" class="btn btn-default" value="Avbryt">
                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                </div>
            </div>

        </form>
        }
    </div>
</div>
<hr>
@if (ViewBag.Message != null)
{
    <script type="text/javascript">

            window.onload = function () {
                alert("@ViewBag.Message");
            };
    </script>
}

